*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

.sidebar {
  background-color: #1b2029;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-transform: uppercase;
  padding: 50px;
  max-width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.page {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.cards {
  width: calc(100% - 350px - 30px); /* 350px sidebar width + 30px margin */ 
  float: right;
}

.title {
  width: 400px;
  margin: 20px;
  min-height: 250px;
  padding: 20px;
  border-top: 4px solid #977aff;
  position: relative;
  float: left;
  background-color: #7d58ff;
  border-radius: 6px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-outline-primary {
  color: #7d58ff;
  border-color: #7d58ff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #7d58ff;
  border-color: #7d58ff;
}

.title:nth-child(2n+2) {
  margin-right: 0;
}
.title:last-child {
  margin-bottom: 0;
}

.close {
  test-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
}

.priority-wrap {
  display: block;
  width: 100%;
}

.priority {
  color: blue;
}

.priority-label {
  color: blue;
}

.hide {
  display: none;
}

.show {
  display: block;
}

*:focus-visible {
  outline: none;
}